---
name: "Lint"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  lint:
    name: "Lint Everything"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "bewuethr/yamllint-action@v1.3.0"
        with:
          config-file: ".yamllint"
      - uses: "pnpm/action-setup@v4"
        with:
          run_install: false
      - name: "Install Node.js"
        uses: "actions/setup-node@v6"
        with:
          cache: "pnpm"
      - name: "Install dependencies"
        run: "pnpm install"
      - name: "Lint Markdown"
        run: "pnpm run lint:markdown"
      - name: "Check Formatting"
        run: "pnpm run format:check"
